h1{
    position: relative;
    left: 30%;
}
.outer_div{
    position: relative;
    padding: 1px;
    /* top: 40%; */
    left: 40%;
    width: 50px;
    height: 19px;
    border: 1px solid black;
    border-radius: 9px;
    overflow: hidden;   
    cursor: pointer;
}
.circle{
    /* background: cover; */
    /* position: absolute; */
    /* left: 40%; */
    margin-left: 0.5px;
    margin-bottom: 1px;
    background-color: black;
    /* position: absolute; */
    width: 30%;
    height: 17px;
    /* height: 18px; */
    border: 1px solid black;
    border-radius: 100%;
    /* margin: 1px; */
}
.bg_color{
    background-color: black;
}
.bg_color_white{
    background-color: white;
}
.f-c{
    color: white;
}
/* .circle{
    position: absolute;
    left: 100%;
} */
